<h2>Task List</h2>
<!-- <ul class="list-group">
  <li class="list-group-item card" >
    <h5></h5>
    <p></p>
      <input type="hidden" class="task_id form-control" value='{{task_item.id}}'>
     
  </li>
</ul>
 -->
<div class="row">
	<div *ngFor= "let task_item of task_list" class="col-sm-6 mb-3">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">{{task_item.title}}</h5>
				<p class="card-text">{{task_item.description}}</p>
				<button type="button" class="btn btn-primary" (click)="openModal( editModalTemplate, task_item)">Edit</button>
				<button type="button" class="btn btn-danger" (click)='showDeleteTask( confirmDeleteModal, task_item )'>Delete</button>
			</div>
		</div>
	</div>
</div>


<!-- (click)='updateTask( task_item )' -->

<!-- <button type="button" class="btn btn-primary" >Create template modal</button> -->
 
<ng-template #editModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Update Task</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
		<app-manage-task *ngIf="showEditFlag==true" [modalId]="editModalTemplate" [data]="edit_task_val" [isEdit]="showEditFlag"  (saveDone)="hideModal()" #child ></app-manage-task>
  </div>
</ng-template>

<ng-template #confirmDeleteModal>
  <div class="modal-body text-center">
    <p>Do you want to Delete?</p>
    <button type="button" class="btn mr-3 btn-danger" (click)="deleteTask()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="hideModal()" >No</button>
  </div>
</ng-template>